ul {
    list-style-type: none;

}

.cajaElem{
    width: 1000px;
    height: 70px;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    border:1px solid gray;
    margin: 4px;
    padding:15px;

}


.crosscajaElem{
    width: 1000px;
    height: 70px;
    font-size: 30px;
    border:1px solid gray;
    margin: 4px;
    padding:15px;

}
.crosscajaElem>div{ 
    text-decoration: line-through;
    color: grey;
    font-style: italic;

}
